<p id="notice"><%= notice %></p>

<p>
  <strong>Training:</strong>
  <%= @training.training_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @training.client_id %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @training.branch_id %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @training.qualification_id %>
</p>

<p>
  <strong>Training status:</strong>
  <%= @training.training_status %>
</p>

<p>
  <strong>Number of learners:</strong>
  <%= @training.number_of_learners %>
</p>

<p>
  <strong>Re certification:</strong>
  <%= @training.re_certification %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @training.event_type %>
</p>

<p>
  <strong>Assessment method:</strong>
  <%= @training.assessment_method %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @training.internal %>
</p>

<p>
  <strong>Start on:</strong>
  <%= @training.start_on %>
</p>

<p>
  <strong>End on:</strong>
  <%= @training.end_on %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @training.venue %>
</p>

<p>
  <strong>Cert valid from:</strong>
  <%= @training.cert_valid_from %>
</p>

<p>
  <strong>Cert valid to:</strong>
  <%= @training.cert_valid_to %>
</p>

<p>
  <strong>Remind expiry:</strong>
  <%= @training.remind_expiry %>
</p>

<p>
  <strong>Machine code:</strong>
  <%= @training.machine_code %>
</p>

<p>
  <strong>Machine attachment:</strong>
  <%= @training.machine_attachment %>
</p>

<p>
  <strong>Machine capacity:</strong>
  <%= @training.machine_capacity %>
</p>

<p>
  <strong>Learnership branch:</strong>
  <%= @training.learnership_branch %>
</p>

<p>
  <strong>Learnership site:</strong>
  <%= @training.learnership_site %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @training.notes %>
</p>

<p>
  <strong>Qa:</strong>
  <%= @training.qa %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @training.duration %>
</p>

<p>
  <strong>Ls start on:</strong>
  <%= @training.ls_start_on %>
</p>

<p>
  <strong>Ls end on:</strong>
  <%= @training.ls_end_on %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
