<%= form_for(@moderation) do |f| %>
  <% if @moderation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moderation.errors.count, "error") %> prohibited this moderation from being saved:</h2>

      <ul>
      <% @moderation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 20px;
    height: 700px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
</style>
</head>
<body>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Column 1</h2>
    <p>
  <div class="field">
    <%= f.label :moderation_id %><br>
    <%= f.number_field :moderation_id %>
  </div>
  <div class="field">
    <%= f.label :training_id %><br>
    <%= f.number_field :training_id %>
  </div>
    <div class="field">
    <%= f.label :trainer_id %><br>
    <%= f.number_field :trainer_id %>
  </div>
  <div class="field">
    <%= f.label :unit_id %><br>
    <%= f.number_field :unit_id %>
  </div>
  <div class="field">
    <%= f.label :internal_by %><br>
    <%= f.text_field :internal_by %>
  </div>
  <div class="field">
    <%= f.label :internal_on %><br>
    <%= f.datetime_select :internal_on %>
  </div>
  <div class="field">
    <%= f.label :internal_outcome %><br>
    <%= f.text_field :internal_outcome %>
  </div>
</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Column 2</h2>
    <p>  
  <div class="field">
    <%= f.label :internal_recommendation %><br>
    <%= f.text_field :internal_recommendation %>
  </div>
  <div class="field">
    <%= f.label :external_by %><br>
    <%= f.text_field :external_by %>
  </div>
  <div class="field">
    <%= f.label :external_on %><br>
    <%= f.datetime_select :external_on %>
  </div>
  <div class="field">
    <%= f.label :external_outcome %><br>
    <%= f.text_field :external_outcome %>
  </div>
  <div class="field">
    <%= f.label :external_recommendation %><br>
    <%= f.text_field :external_recommendation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div></p>
  </div>
</div>

</body>
</html>


<% end %>
