<p id="notice"><%= notice %></p>

<h1>Moderations</h1>

<table>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
 <thead>

<table>
  <thead>
    <tr>
      <th>Moderation</th>
      <th>Training</th>
      <th>Trainer</th>
      <th>Unit</th>
      <th>Internal by</th>
      <th>Internal on</th>
      <th>Internal outcome</th>
      <th>Internal recommendation</th>
      <th>External by</th>
      <th>External on</th>
      <th>External outcome</th>
      <th>External recommendation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moderations.each do |moderation| %>
      <tr>
        <td><%= moderation.moderation_id %></td>
        <td><%= moderation.training_id %></td>
        <td><%= moderation.trainer_id %></td>
        <td><%= moderation.unit_id %></td>
        <td><%= moderation.internal_by %></td>
        <td><%= moderation.internal_on %></td>
        <td><%= moderation.internal_outcome %></td>
        <td><%= moderation.internal_recommendation %></td>
        <td><%= moderation.external_by %></td>
        <td><%= moderation.external_on %></td>
        <td><%= moderation.external_outcome %></td>
        <td><%= moderation.external_recommendation %></td>
        <td><%= link_to 'Show', moderation %></td>
        <td><%= link_to 'Edit', edit_moderation_path(moderation) %></td>
        <td><%= link_to 'Destroy', moderation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moderation', new_moderation_path %>
