<p id="notice"><%= notice %></p>

<p>
  <strong>Qualification:</strong>
  <%= @qualification.qualification_id %>
</p>

<p>
  <strong>Saqa aligned:</strong>
  <%= @qualification.saqa_aligned %>
</p>

<p>
  <strong>Is single unit:</strong>
  <%= @qualification.is_single_unit %>
</p>

<p>
  <strong>Code:</strong>
  <%= @qualification.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @qualification.title %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @qualification.display_name %>
</p>

<p>
  <strong>Nqf level:</strong>
  <%= @qualification.nqf_level %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @qualification.credits %>
</p>

<p>
  <strong>Accredited:</strong>
  <%= @qualification.accredited %>
</p>

<p>
  <strong>Accredited start on:</strong>
  <%= @qualification.accredited_start_on %>
</p>

<p>
  <strong>Accredited end on:</strong>
  <%= @qualification.accredited_end_on %>
</p>

<p>
  <strong>Saqa reg start on:</strong>
  <%= @qualification.saqa_reg_start_on %>
</p>

<p>
  <strong>Saqa reg end on:</strong>
  <%= @qualification.saqa_reg_end_on %>
</p>

<p>
  <strong>Can expire:</strong>
  <%= @qualification.can_expire %>
</p>

<p>
  <strong>Valid months:</strong>
  <%= @qualification.valid_months %>
</p>

<p>
  <strong>Use assessor:</strong>
  <%= @qualification.use_assessor %>
</p>

<p>
  <strong>Use learnership fields:</strong>
  <%= @qualification.use_learnership_fields %>
</p>

<p>
  <strong>Use training planner:</strong>
  <%= @qualification.use_training_planner %>
</p>

<p>
  <strong>Use machine attributes:</strong>
  <%= @qualification.use_machine_attributes %>
</p>

<p>
  <strong>Use logbook fields:</strong>
  <%= @qualification.use_logbook_fields %>
</p>

<p>
  <strong>Certificate template:</strong>
  <%= @qualification.certificate_template_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @qualification.status %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @qualification.created_by %>
</p>

<p>
  <strong>Created on:</strong>
  <%= @qualification.created_on %>
</p>

<p>
  <strong>Qualification type:</strong>
  <%= @qualification.qualification_type %>
</p>

<p>
  <strong>Saqa enroll end on:</strong>
  <%= @qualification.saqa_enroll_end_on %>
</p>

<p>
  <strong>Use formative summative:</strong>
  <%= @qualification.use_formative_summative %>
</p>

<p>
  <strong>Use apprenticeship fields:</strong>
  <%= @qualification.use_apprenticeship_fields %>
</p>

<p>
  <strong>Artisan trade:</strong>
  <%= @qualification.artisan_trade %>
</p>

<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>
