<p id="notice"><%= notice %></p>

<h1>Learner Training Events</h1>
<%= link_to 'New Learner event', new_learner_event_path %>
<table>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
 <thead>

<table>
  <thead>
    <tr>
      <th>Training id</th>
      <th>Learner id</th>
      <th>Agreement no</th>
      <th>Agreement on</th>
      <th>Registration no</th>
      <th>Certificate no</th>
      <th>Certificate on</th>
	  <th>Certificate issued</th>
      <th>Certificate issued by</th>
	  
     <!-- <th>Batch no</th>
      <th>Machine restriction</th>
            <th>Old batch no</th>
      <th>Cancelation on</th>
      <th>Trade test on</th>
      <th>Certificate notes</th>
      <th>Med</th>
      <th>Hq</th>
      <th>Eye</th>
      <th>Prdp</th>
      <th>Log</th>
      <th>Pri or</th>
      <th>Id doc</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @learner_events.each do |learner_event| %>
      <tr>
        <td><%= learner_event.TRAINING_ID %></td>
        <td><%= learner_event.LEARNER_ID %></td>
        <td><%= learner_event.AGREEMENT_NO %></td>
        <td><%= learner_event.AGREEMENT_ON %></td>
        <td><%= learner_event.REGISTRATION_NO %></td>
        <td><%= learner_event.CERTIFICATE_NO %></td>
        <td><%= learner_event.CERTIFICATE_ON %></td>
		   <td><%= learner_event.CERTIFICATE_ISSUED %></td>
        <td><%= learner_event.CERTIFICATE_ISSUED_BY %></td>
		
       <!-- <td><%= learner_event.BATCH_NO %></td>
        <td><%= learner_event.MACHINE_RESTRICTION %></td>
     
        <td><%= learner_event.OLD_BATCH_NO %></td>
        <td><%= learner_event.CANCELATION_ON %></td>
        <td><%= learner_event.TRADE_TEST_ON %></td>
        <td><%= learner_event.CERTIFICATE_NOTES %></td>
        <td><%= learner_event.MED %></td>
        <td><%= learner_event.HQ %></td>
        <td><%= learner_event.EYE %></td>
        <td><%= learner_event.PRDP %></td>
        <td><%= learner_event.LOG %></td>
        <td><%= learner_event.PRI_OR %></td>
        <td><%= learner_event.ID_DOC %></td> -->
		
		
        <td><%= link_to 'Show', learner_event %></td>
        <td><%= link_to 'Edit', edit_learner_event_path(learner_event) %></td> 
        <td><%= link_to 'Destroy', learner_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


