<p id="notice"><%= notice %></p>

<p>
  <strong>Training id:</strong>
  <%= @learner_event.TRAINING_ID %>
</p>

<p>
  <strong>Learner id:</strong>
  <%= @learner_event.LEARNER_ID %>
</p>

<p>
  <strong>Agreement no:</strong>
  <%= @learner_event.AGREEMENT_NO %>
</p>

<p>
  <strong>Agreement on:</strong>
  <%= @learner_event.AGREEMENT_ON %>
</p>

<p>
  <strong>Registration no:</strong>
  <%= @learner_event.REGISTRATION_NO %>
</p>

<p>
  <strong>Certificate no:</strong>
  <%= @learner_event.CERTIFICATE_NO %>
</p>

<p>
  <strong>Certificate on:</strong>
  <%= @learner_event.CERTIFICATE_ON %>
</p>

<p>
  <strong>Batch no:</strong>
  <%= @learner_event.BATCH_NO %>
</p>

<p>
  <strong>Machine restriction:</strong>
  <%= @learner_event.MACHINE_RESTRICTION %>
</p>

<p>
  <strong>Certificate issued:</strong>
  <%= @learner_event.CERTIFICATE_ISSUED %>
</p>

<p>
  <strong>Certificate issued by:</strong>
  <%= @learner_event.CERTIFICATE_ISSUED_BY %>
</p>

<p>
  <strong>Old batch no:</strong>
  <%= @learner_event.OLD_BATCH_NO %>
</p>

<p>
  <strong>Cancelation on:</strong>
  <%= @learner_event.CANCELATION_ON %>
</p>

<p>
  <strong>Trade test on:</strong>
  <%= @learner_event.TRADE_TEST_ON %>
</p>

<p>
  <strong>Certificate notes:</strong>
  <%= @learner_event.CERTIFICATE_NOTES %>
</p>

<p>
  <strong>Med:</strong>
  <%= @learner_event.MED %>
</p>

<p>
  <strong>Hq:</strong>
  <%= @learner_event.HQ %>
</p>

<p>
  <strong>Eye:</strong>
  <%= @learner_event.EYE %>
</p>

<p>
  <strong>Prdp:</strong>
  <%= @learner_event.PRDP %>
</p>

<p>
  <strong>Log:</strong>
  <%= @learner_event.LOG %>
</p>

<p>
  <strong>Pri or:</strong>
  <%= @learner_event.PRI_OR %>
</p>

<p>
  <strong>Id doc:</strong>
  <%= @learner_event.ID_DOC %>
</p>

<%= link_to 'Edit', edit_learner_event_path(@learner_event) %> |
<%= link_to 'Back', learner_events_path %>
