<p id="notice"><%= notice %></p>




<h1>Clients</h1>
<!-- Below table is left align can be made center is not too much data-->
<table>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
  <thead>



<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Company</th>
      <th>Type</th>
      <th>Name</th>
      <th>Business reg no</th>
      <th>Tel no</th>
 <th>Contact name</th>
      <th>Main email</th>     
	  <!--
	  <th>Fax no</th>
      <th>R address line 1</th>
      <th>R address line 2</th>
      <th>R suburb</th>
      <th>R city</th>
      <th>R province</th>
      <th>R postal code</th>
      <th>R country</th>
      <th>P address line 1</th>
      <th>P address line 2</th>
      <th>P suburb</th>
      <th>P city</th>
      <th>P province</th>
      <th>P postal code</th>
      <th>P country</th>
      <th>Client branch</th>
      <th>Sales person</th>
      <th>Branch</th>
      <th>Sdl number</th>
 <th>Account no</th>     
       <th>Wdyhau</th>
      <th>Credit limit</th>
      <th>Payment term</th> -->
	  
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.client_id %></td>
        <td><%= client.company_id %></td>
        <td><%= client.type %></td>
        <td><%= client.name %></td>
        <td><%= client.business_reg_no %></td>
        <td><%= client.tel_no %></td>
		  <td><%= client.contact_name %></td>
        <td><%= client.main_email %></td>
		
        <!--<td><%= client.fax_no %></td>
        <td><%= client.account_no %></td>
        <td><%= client.r_address_line_1 %></td>
        <td><%= client.r_address_line_2 %></td>
        <td><%= client.r_suburb %></td>
        <td><%= client.r_city %></td>
        <td><%= client.r_province %></td>
        <td><%= client.r_postal_code %></td>
        <td><%= client.r_country %></td>
        <td><%= client.p_address_line_1 %></td>
        <td><%= client.p_address_line_2 %></td>
        <td><%= client.p_suburb %></td>
        <td><%= client.p_city %></td>
        <td><%= client.p_province %></td>
        <td><%= client.p_postal_code %></td>
        <td><%= client.p_country %></td>
        <td><%= client.client_branch %></td>
        <td><%= client.sales_person %></td>
        <td><%= client.branch_id %></td>
        <td><%= client.sdl_number %></td>
      
        <td><%= client.wdyhau %></td>
        <td><%= client.credit_limit %></td>
        <td><%= client.payment_term %></td> -->
		
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
