<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @client.client_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @client.company_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @client.type_of_client%>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Business reg no:</strong>
  <%= @client.business_reg_no %>
</p>

<p>
  <strong>Tel no:</strong>
  <%= @client.tel_no %>
</p>

<p>
  <strong>Fax no:</strong>
  <%= @client.fax_no %>
</p>

<p>
  <strong>Account no:</strong>
  <%= @client.account_no %>
</p>

<p>
  <strong>R address line 1:</strong>
  <%= @client.r_address_line_1 %>
</p>

<p>
  <strong>R address line 2:</strong>
  <%= @client.r_address_line_2 %>
</p>

<p>
  <strong>R suburb:</strong>
  <%= @client.r_suburb %>
</p>

<p>
  <strong>R city:</strong>
  <%= @client.r_city %>
</p>

<p>
  <strong>R province:</strong>
  <%= @client.r_province %>
</p>

<p>
  <strong>R postal code:</strong>
  <%= @client.r_postal_code %>
</p>

<p>
  <strong>R country:</strong>
  <%= @client.r_country %>
</p>

<p>
  <strong>P address line 1:</strong>
  <%= @client.p_address_line_1 %>
</p>

<p>
  <strong>P address line 2:</strong>
  <%= @client.p_address_line_2 %>
</p>

<p>
  <strong>P suburb:</strong>
  <%= @client.p_suburb %>
</p>

<p>
  <strong>P city:</strong>
  <%= @client.p_city %>
</p>

<p>
  <strong>P province:</strong>
  <%= @client.p_province %>
</p>

<p>
  <strong>P postal code:</strong>
  <%= @client.p_postal_code %>
</p>

<p>
  <strong>P country:</strong>
  <%= @client.p_country %>
</p>

<p>
  <strong>Client branch:</strong>
  <%= @client.client_branch %>
</p>

<p>
  <strong>Sales person:</strong>
  <%= @client.sales_person %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @client.branch_id %>
</p>

<p>
  <strong>Sdl number:</strong>
  <%= @client.sdl_number %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @client.contact_name %>
</p>

<p>
  <strong>Main email:</strong>
  <%= @client.main_email %>
</p>

<p>
  <strong>Wdyhau:</strong>
  <%= @client.wdyhau %>
</p>

<p>
  <strong>Credit limit:</strong>
  <%= @client.credit_limit %>
</p>

<p>
  <strong>Payment term:</strong>
  <%= @client.payment_term %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
