<p id="notice"><%= notice %></p>

<p>
  <strong>Learner:</strong>
  <%= @learner.learner_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @learner.client_id %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @learner.id_type %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @learner.id_number %>
</p>

<p>
  <strong>Passport number:</strong>
  <%= @learner.passport_number %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @learner.date_of_birth %>
</p>

<p>
  <strong>First name:</strong>
  <%= @learner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @learner.last_name %>
</p>

<p>
  <strong>Middle names:</strong>
  <%= @learner.middle_names %>
</p>

<p>
  <strong>Title:</strong>
  <%= @learner.title %>
</p>

<p>
  <strong>Equity:</strong>
  <%= @learner.equity %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @learner.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @learner.nationality %>
</p>

<p>
  <strong>Citizen status:</strong>
  <%= @learner.citizen_status %>
</p>

<p>
  <strong>Disability status:</strong>
  <%= @learner.disability_status %>
</p>

<p>
  <strong>Home language:</strong>
  <%= @learner.home_language %>
</p>

<p>
  <strong>Organising framework occupations:</strong>
  <%= @learner.organising_framework_occupations %>
</p>

<p>
  <strong>Socioeconomic status:</strong>
  <%= @learner.socioeconomic_status %>
</p>

<p>
  <strong>No education:</strong>
  <%= @learner.no_education %>
</p>

<p>
  <strong>Highest school grade:</strong>
  <%= @learner.highest_school_grade %>
</p>

<p>
  <strong>Abet:</strong>
  <%= @learner.abet %>
</p>

<p>
  <strong>Tertiary qualification:</strong>
  <%= @learner.tertiary_qualification %>
</p>

<p>
  <strong>License code:</strong>
  <%= @learner.license_code %>
</p>

<p>
  <strong>Cellphone number:</strong>
  <%= @learner.cellphone_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @learner.email_address %>
</p>

<p>
  <strong>Next of kin name:</strong>
  <%= @learner.next_of_kin_name %>
</p>

<p>
  <strong>Next of kin contact no:</strong>
  <%= @learner.next_of_kin_contact_no %>
</p>

<p>
  <strong>Guardian name:</strong>
  <%= @learner.guardian_name %>
</p>

<p>
  <strong>Guardian contact no:</strong>
  <%= @learner.guardian_contact_no %>
</p>

<p>
  <strong>Storage cabinet no:</strong>
  <%= @learner.storage_cabinet_no %>
</p>

<p>
  <strong>Disposal date:</strong>
  <%= @learner.disposal_date %>
</p>

<p>
  <strong>R address line 1:</strong>
  <%= @learner.r_address_line_1 %>
</p>

<p>
  <strong>R address line 2:</strong>
  <%= @learner.r_address_line_2 %>
</p>

<p>
  <strong>R suburb:</strong>
  <%= @learner.r_suburb %>
</p>

<p>
  <strong>R city:</strong>
  <%= @learner.r_city %>
</p>

<p>
  <strong>R province:</strong>
  <%= @learner.r_province %>
</p>

<p>
  <strong>R postal code:</strong>
  <%= @learner.r_postal_code %>
</p>

<p>
  <strong>R country:</strong>
  <%= @learner.r_country %>
</p>

<p>
  <strong>P address line 1:</strong>
  <%= @learner.p_address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @learner.address_line_2 %>
</p>

<p>
  <strong>P suburb:</strong>
  <%= @learner.p_suburb %>
</p>

<p>
  <strong>P city:</strong>
  <%= @learner.p_city %>
</p>

<p>
  <strong>P province:</strong>
  <%= @learner.p_province %>
</p>

<p>
  <strong>P postal code:</strong>
  <%= @learner.p_postal_code %>
</p>

<p>
  <strong>P country:</strong>
  <%= @learner.p_country %>
</p>

<p>
  <strong>Municipality:</strong>
  <%= @learner.municipality %>
</p>

<p>
  <strong>Urban rural:</strong>
  <%= @learner.urban_rural %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @learner.photo %>
</p>

<p>
  <strong>Photo name:</strong>
  <%= @learner.photo_name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @learner.notes %>
</p>

<%= link_to 'Edit', edit_learner_path(@learner) %> |
<%= link_to 'Back', learners_path %>
