<p id="notice"><%= notice %></p>

<p>
  <strong>Trainer:</strong>
  <%= @trainer.trainer_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @trainer.client_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @trainer.first_name %>
</p>

<p>
  <strong>Middle names:</strong>
  <%= @trainer.middle_names %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @trainer.last_name %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @trainer.id_number %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @trainer.date_of_birth %>
</p>

<p>
  <strong>Status:</strong>
  <%= @trainer.status %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @trainer.created_by %>
</p>

<p>
  <strong>Created on:</strong>
  <%= @trainer.created_on %>
</p>

<p>
  <strong>Type:</strong>
  <%= @trainer.type %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @trainer.contact_no %>
</p>

<p>
  <strong>Staff rate type:</strong>
  <%= @trainer.staff_rate_type %>
</p>

<p>
  <strong>Staff rate:</strong>
  <%= @trainer.staff_rate %>
</p>

<p>
  <strong>Status reason:</strong>
  <%= @trainer.status_reason %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @trainer.notes %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @trainer.id_type %>
</p>

<p>
  <strong>Training speciality area:</strong>
  <%= @trainer.training_speciality_area %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @trainer.email_address %>
</p>

<p>
  <strong>Licence code:</strong>
  <%= @trainer.licence_code %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
