<!DOCTYPE html>
<html>
<head>
  <title>Telula</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
  
  <div class="topnav">
  <a href="#home"><%= link_to "Home", dashboards_path %></a>
  <a href="#news"><%= link_to "Clients", clients_path %></a>
  <a href="#contact"><%= link_to "Learners", learners_path %></a>
  <a href="#about"><%= link_to "Assessments", assessments_path %></a>
  <a href="#about"><%= link_to "Moderations", moderations_path %></a>
  <a href="#about"><%= link_to "Qualifications", qualifications_path %></a>
  <a href="#about"><%= link_to "Trainers", trainers_path %></a>
  <a href="#about"><%= link_to "Learner Events", learner_events_path %></a>
  <a href="#about"><%= link_to "Trainings", trainings_path %></a>
  <a href="#about"></a>

  </div>  

  
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  
<%= yield %>



</head>
</body>
</html>